# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
.env
.venv
env/
venv/
pythonenv/
pythonvenv/
Scripts/
bin/
Lib/
Include/
pyvenv.cfg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# mypy, pyright, coverage, etc.
.mypy_cache/
.pytype/
.pyre/
.pyright/
.coverage
htmlcov/

# --- VS Code ---
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
pythonenv/
